---
import { Image } from "astro:assets";

import chequeadoIcon from "./logos/chequeado.svg";
import viaLibreIcon from "./logos/via-libre.png";
import pagina12Icon from "./logos/pagina12.svg";
import ambitoIcon from "./logos/ambito.svg";
import clarinIcon from "./logos/clarin.svg";
import cnnEspaniolIcon from "./logos/cnn-espaniol.svg";
import laNacionIcon from "./logos/la-nacion.svg";
import theJapanTimesIcon from "./logos/the-japan-times.svg";
import wiredIcon from "./logos/wired.svg";
import type { ImageMetadata } from "astro";
import diarioJudicialIcon from "./logos/diariojudicial.png";
import infobaeIcon from "./logos/infobae.svg";
import laGacetaIcon from "./logos/la-gaceta.svg";
import laiaIcon from "./logos/laia.png";
import palabrasDelDerechoIcon from "./logos/palabrasdelderecho.png";

type Outlet =
  | "cels"
  | "chequeado"
  | "via-libre"
  | "pagina12"
  | "ambito"
  | "clarin"
  | "la-nacion"
  | "cnn-espaniol"
  | "the-japan-times"
  | "wired"
  | "diariojudicial"
  | "infobae"
  | "la-gaceta"
  | "laia"
  | "palabrasdelderecho";
interface Props {
  href: string;
  title: string;
  outlet?: Outlet;
}

const { href, title, outlet: outletOverride } = Astro.props as Props;

const DOMAIN_TO_OUTLET: Record<string, Outlet> = {
  "cels.org.ar": "cels",
  "chequeado.com": "chequeado",
  "via-libre.com": "via-libre",
  "vialibre.org.ar": "via-libre",
  "pagina12.com.ar": "pagina12",
  "ambito.com": "ambito",
  "clarin.com": "clarin",
  "lanacion.com.ar": "la-nacion",
  "cnnespanol.cnn.com": "cnn-espaniol",
  "japantimes.co.jp": "the-japan-times",
  "wired.com": "wired",
  "diariojudicial.com": "diariojudicial",
  "infobae.com": "infobae",
  "lagaceta.com.ar": "la-gaceta",
  "laia.ar": "laia",
  "palabrasdelderecho.com.ar": "palabrasdelderecho",
};
function tryGetOutlet(href: string) {
  const domain = new URL(href).hostname.replace("www.", "");
  return DOMAIN_TO_OUTLET[domain];
}
const outlet = outletOverride || tryGetOutlet(href);
if (!outlet) {
  throw new Error(`No outlet found for ${href}`);
}

const LOGOS: Record<Outlet, { icon: string | ImageMetadata; text?: string }> = {
  cels: {
    icon: "https://www.google.com/s2/favicons?sz=128&domain=cels.org.ar",
    text: "CELS",
  },
  chequeado: {
    icon: chequeadoIcon,
  },
  "via-libre": {
    icon: viaLibreIcon,
  },
  pagina12: {
    icon: pagina12Icon,
  },
  ambito: {
    icon: ambitoIcon,
  },
  clarin: {
    icon: clarinIcon,
  },
  "la-nacion": {
    icon: laNacionIcon,
  },
  "cnn-espaniol": {
    icon: cnnEspaniolIcon,
  },
  "the-japan-times": {
    icon: theJapanTimesIcon,
  },
  wired: {
    icon: wiredIcon,
  },
  diariojudicial: {
    icon: diarioJudicialIcon,
  },
  infobae: {
    icon: infobaeIcon,
  },
  "la-gaceta": {
    icon: laGacetaIcon,
  },
  laia: {
    icon: laiaIcon,
  },
  palabrasdelderecho: {
    icon: palabrasDelDerechoIcon,
  },
};

const logoSrc = LOGOS[outlet].icon;
---

<a
  href={href}
  class="block rounded-md transition-colors no-underline not-prose group"
  target="_blank"
  rel="noopener noreferrer"
>
  <div class="grid grid-cols-[64px,1fr] gap-4 py-4 sm:grid-cols-[80px,1fr]">
    <div class="min-w-0">
      <div
        class="text-2xl tracking-wide text-black font-sans flex items-center gap-2 mb-2"
      >
        {
          typeof logoSrc === "string" ? (
            <img
              src={logoSrc}
              alt={outlet + " logo"}
              class="h-8"
              loading="lazy"
            />
          ) : (
            <Image
              src={logoSrc}
              alt={outlet + " logo"}
              class="h-8 w-auto"
              loading="lazy"
            />
          )
        }
        {
          "text" in LOGOS[outlet] && (
            <span class="font-sans font-bold">{LOGOS[outlet].text}</span>
          )
        }
      </div>
      <div
        class="mt-1 text-2xl sm:text-3xl leading-snug font-extrabold text-dark font-merriweather underline underline-offset-2 decoration-transparent transition-colors group-hover:decoration-turquoise-highlight"
      >
        {title}
      </div>
    </div>
  </div>
</a>
